@mixin spin($second) {
    animation: spin $second linear infinite;
}

@mixin cube($name, $url, $size, $isSpinning: false) {
    $half-size: $size / 2;

    body {
        perspective: $half-size;
    }

    .#{$name} {
        transform-style: preserve-3d;
        @include position(absolute, 50% null null 50%);

        @if $isSpinning {
            @include spin(20s);
        }

        div {
            background-image: url(#{$url});
            position: absolute;
            margin: -1 * $half-size 0 0 -1 * $half-size;
            backface-visibility: hidden;
            @include size($size);
        }

        &__front {
            transform: translate3d(0, 0, $half-size) rotateY(180deg);
            background-position: -3 * $size -1 * $size;
        }

        &__back {
            transform: translate3d(0, 0, -1 * $half-size);
            background-position: -1 * $size -1 * $size;
        }

        &__left {
            transform: translate3d(-1 * $half-size, 0, 0) rotateY(90deg);
            background-position: 0 -1 * $size;
        }

        &__right {
            transform: translate3d($half-size, 0, 0) rotateY(-90deg);
            background-position: -2 * $size -1 * $size;
        }

        &__top {
            transform: translate3d(0, -1 * $half-size, 0) rotateX(-90deg);
            background-position: -1 * $size 0;
        }

        &__bottom {
            transform: translate3d(0, $half-size, 0) rotateX(90deg);
            background-position: -1 * $size -2 * $size;
        }
    }
}
