/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
html,
body {
  height: 100%; }

body {
  background: grey;
  overflow: hidden; }

* {
  box-sizing: border-box; }

body {
  perspective: 500px; }

.cube {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%; }
  .cube div {
    background-image: url(http://paulbourke.net/miscellaneous/cubemaps/cube.jpg);
    position: absolute;
    margin: -500px 0 0 -500px;
    backface-visibility: hidden;
    height: 1000px;
    width: 1000px; }
  .cube__front {
    transform: translate3d(0, 0, 500px) rotateY(180deg);
    background-position: -3000px -1000px; }
  .cube__back {
    transform: translate3d(0, 0, -500px);
    background-position: -1000px -1000px; }
  .cube__left {
    transform: translate3d(-500px, 0, 0) rotateY(90deg);
    background-position: 0 -1000px; }
  .cube__right {
    transform: translate3d(500px, 0, 0) rotateY(-90deg);
    background-position: -2000px -1000px; }
  .cube__top {
    transform: translate3d(0, -500px, 0) rotateX(-90deg);
    background-position: -1000px 0; }
  .cube__bottom {
    transform: translate3d(0, 500px, 0) rotateX(90deg);
    background-position: -1000px -2000px; }

.cube__top {
  background-position: -998px 0; }

@keyframes spin {
  to {
    transform: rotateY(360deg); } }
